<div class="row">
  <div class="col-12 mt-5">
    <div class="ph-item border-0 p-0">
      <div class="ph-col-12 p-0">
        <div class="ph-picture"></div>
        <div class="ph-row">
          <div class="ph-col-12 big"></div>
          <div class="ph-col-4"></div>
          <div class="ph-col-12 empty"></div>
          <div class="ph-col-12 empty"></div>
          <div class="ph-col-12 empty"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
        </div>
      </div>
    </div>
  </div>
</div>
